# Rush uses this file to configure the NPM package registry during installation.  It is applicable
# to PNPM, NPM, and Yarn package managers.  It is used by operations such as "rush install",
# "rush update", and the "install-run.js" scripts.
#
# NOTE: The "rush publish" command uses .npmrc-publish instead.
#
# Before invoking the package manager, Rush will copy this file to the folder where installation
# is performed.  The copied file will omit any config lines that reference environment variables
# that are undefined in that session; this avoids problems that would otherwise result due to
# a missing variable being replaced by an empty string.
#
# * * * SECURITY WARNING * * *
#
# It is NOT recommended to store authentication tokens in a text file on a lab machine, because
# other unrelated processes may be able to read the file.  Also, the file may persist indefinitely,
# for example if the machine loses power.  A safer practice is to pass the token via an
# environment variable, which can be referenced from .npmrc using ${} expansion.  For example:
#
#   //registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
#
registry=https://bnpm.byted.org/
always-auth=false
prefer-frozen-lockfile=true

public-hoist-pattern[]=*storybook*

sass_binary_site=https://bnpm.bytedance.net/mirrors/node-sass
electron_mirror=https://bnpm.bytedance.net/mirrors/electron/
puppeteer_download_base_url=https://bnpm.bytedance.net/mirrors/chrome-for-testing
chromedriver_cdnurl=https://bnpm.bytedance.net/mirrors/chromedriver
phantomjs_cdnurl=https://bnpm.bytedance.net/mirrors/phantomjs
selenium_cdnurl=https://bnpm.bytedance.net/mirrors/selenium
node_inspector_cdnurl=https://bnpm.bytedance.net/mirrors/node-inspector
cypress_download_mirror=https://bnpm.bytedance.net/mirrors/cypress/
RE2_DOWNLOAD_MIRROR=​https://bnpm.bytedance.net/mirrors
RE2_DOWNLOAD_SKIP_PATH=1

electron_builder_binaries_mirror=https://bnpm.bytedance.net/mirrors/electron-builder-binaries
node_sqlite3_binary_host_mirror=https://bnpm.bytedance.net/mirrors
python_mirror=https://bnpm.bytedance.net/mirrors/python
profiler_binary_host_mirror=https://bnpm.bytedance.net/mirrors/node-inspector/
npm_config_profiler_binary_host_mirror=https://bnpm.bytedance.net/mirrors/node-inspector/
disturl=https://bnpm.bytedance.net/mirrors/node
sharp_binary_host=https://bnpm.bytedance.net/mirrors/sharp
sharp_libvips_binary_host=https://bnpm.bytedance.net/mirrors/sharp-libvips
canvas_binary_host_mirror=https://bnpm.bytedance.net/mirrors/canvas/
