frontend/packages/arch/resources/studio-i18n-resource/src/locale-data.d.ts
frontend/packages/arch/resources/studio-i18n-resource/src/locale-data.d.ts
frontend/packages/arch/resources/studio-i18n-resource/src/locale-data.d.ts
